@import "../common";
$color: red;
$bluecolor: blue;
nav{
  color:$color;
  background:red;
  @include display-flex(inline-flex);
  @include align-items(center);
  @include justify-content(center);
}

footer{
  background:$bluecolor;
  color:pink;
  font-size:14px;
}
