nav {
  color: red;
  background: red;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

footer {
  background: blue;
  color: pink;
  font-size: 14px;
}
